<nav class="nav w-100 border-box ph3 bb b--black-10">
  <div class="nav__inner">
    <!-- Menu toggle -->
    <a href="#" class="nav-menu-toggle link">
      <img src="<%= image_path('nav-trigger.svg') %>" class="nav-menu-toggle__img">
    </a>

    <!-- Logo -->
    <a class="nav-logo link pa2 ma2 ma0-ns mr4-ns h-70" href="#" title="Home">
      <img src="<%= image_path('logo.svg') %>" class="nav-logo__img">
      <span class="white-90 f6">beta</span>
    </a>

    <!-- Menu -->
    <div class="nav-menu nav-menu--out ph2 ph0-ns">
      <%= nav_link "Coins", "/coins", { class: "nav-menu__item link" } %>
      <%= nav_link "ICOs", "/icos/upcoming", { class: "nav-menu__item link" } %>
      <% if has_news_feature? %>
        <%= nav_link "News", "/news", { class: "nav-menu__item link" } %>
      <% end %>
      <% if has_calendar_feature? %>
        <%= nav_link "Events", "/calendar", { class: "nav-menu__item link" } %>
      <% end %>
      <% if has_listings_feature? %>
        <%= nav_link "Listings", "/listings", { class: "nav-menu__item link" } %>
      <% end %>
      <a class="nav-menu__item nav-menu-more-toggle link dn db-m dn-l" href="#" title="More">
        <i class="fa fa-ellipsis-h"></i>
      </a>
      <div class="nav-menu-more">
        <div class="nav-menu-more__inner">
          <%= nav_link "Podcast", "https://blog.coinfi.com/topics/podcast/", { class: "nav-menu__item link" } %>
          <%= nav_link "Blog", "https://blog.coinfi.com", { class: "nav-menu__item link" } %>
          <%= nav_link "Careers", "https://careers.coinfi.com", { class: "nav-menu__item link" } %>
          <%= nav_link "Press", "/press", { class: "nav-menu__item link" } %>
          <%= nav_link "About", "/about", { class: "nav-menu__item link" } %>
          <%= nav_link "Feedback", "https://feedback.coinfi.com/feature-requests", { class: "nav-menu__item link" } %>
        </div>
      </div>

      <div class="nav-menu-actions pa2">
        <% if user_signed_in? %>
          <div class="nav-menu-actions-account">
            <div class="fw9">
              Account
            </div>
            <div class="nav-menu-actions-account__email">
              <%= current_user.email %>
            </div>
          </div>
          <%= link_to "My Profile", profile_path, class: "nav-menu-actions__btn nav-menu-actions--primary" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-menu-actions__btn nav-menu-actions--secondary", form_class: "nav-menu-actions__logout-form" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-menu-actions__btn nav-menu-actions--secondary" %>
        <% end %>
      </div>
    </div>

    <!-- Actions -->
    <div class="nav-actions">
      <% if user_signed_in? %>
        <%= react_component "NavUserContainer", { props: { formAuthenticityToken: form_authenticity_token, userEmail: current_user.email } } %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-xs btn-green" %>
      <% end %>
    </div>
  </div>
</nav>
