<nav class="nav w-100 border-box ph3 bb b--black-10">
  <div class="nav__inner<%= ' fixed-width' unless is_fluid? %>">
    <!-- Menu toggle -->
    <a href="#" class="nav-menu-toggle link">
      <img src="<%= image_path('nav-trigger.svg') %>" class="nav-menu-toggle__img" alt="Menu Toggle">
    </a>

    <!-- Logo -->
    <a class="nav-logo link pa2 ma2 ma0-ns mr4-ns h-70" href="<%= root_path %>" title="Home">
      <img src="<%= image_path('logo.svg') %>" class="nav-logo__img" alt="CoinFi Logo">
    </a>

    <!-- Menu -->
    <div id="nav-menu" class="nav-menu nav-menu--out ph0-ns">
      <div class="nav-items">
        <%= nav_link "Research", "https://www.coinfi.com/research/", { class: "nav-menu__item" } %>
        <%= nav_link "Crypto News", news_path, { class: "nav-menu__item" } %>
        <div class="nav-menu__item-wrapper nav-menu-item-coins">
          <div class="nav-menu__item nav-menu__item-toggle nav-menu-coins-toggle"><span>Coins </span><i class="fa fa-angle-down"></i></div>
          <div class="nav-menu__dropdown nav-menu-coins">
            <div class="nav-menu__dropdown-inner">
              <%= nav_link "Cryptocurrency Prices Live", coins_path, { class: "nav-menu__item" } %>
              <%= nav_link "How To Buy Cryptocurrency", coin_articles_path, { class: "nav-menu__item" } %>
            </div>
          </div>
        </div>
        <div class="nav-menu__item-wrapper nav-menu-item-exchanges">
          <div class="nav-menu__item nav-menu__item-toggle nav-menu-exchanges-toggle"><span>Exchanges </span><i class="fa fa-angle-down"></i></div>
          <div class="nav-menu__dropdown nav-menu-exchanges">
            <div class="nav-menu__dropdown-inner">
              <%= nav_link "Best Cryptocurrency Exchanges", exchange_category_path(slug: 'crypto'), { class: "nav-menu__item" } %>
              <% if @crypto_exchanges.present? %>
                <% @crypto_exchanges.each do |exchange_review| %>
                  <%= nav_link "#{exchange_review.cmc_exchange.name} Review", exchange_review_path(slug: exchange_review.slug), { class: "nav-menu__item nav-menu__sub-item" } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="nav-menu__item-wrapper nav-menu-item-company">
          <div class="nav-menu__item nav-menu__item-toggle nav-menu-company-toggle"><span>Company </span><i class="fa fa-angle-down"></i></div>
          <div class="nav-menu__dropdown nav-menu-company">
            <div class="nav-menu__dropdown-inner">
            <%= nav_link "Podcast", podcast_path, { class: "nav-menu__item" } %>
            <%= nav_link "Blog", "https://www.coinfi.com/blog/", { class: "nav-menu__item" } %>
            <%= nav_link "Careers", "https://careers.coinfi.com", { class: "nav-menu__item" } %>
            <%= nav_link "Press", page_press_path, { class: "nav-menu__item" } %>
            <%= nav_link "About", page_about_path, { class: "nav-menu__item" } %>
            <%= nav_link "Feedback", "https://feedback.coinfi.com/feature-requests", { class: "nav-menu__item" } %>
            <%= nav_link "Contact Us", page_contact_us_path, { class: "nav-menu__item" } %>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-menu-actions pa2">
        <% unless hide_currency? %>
          <%= react_component_with_jss "CurrencySelectorWidget", props: { user: current_user, currencies: @exchange_rates }, prerender: false %>
        <% end %>
        <% if user_signed_in? %>
          <div class="nav-menu-actions-account">
            <div class="fw9">
              Account
            </div>
            <div class="nav-menu-actions-account__email">
              <%= current_user.email %>
            </div>
          </div>
          <%= link_to "My Profile", profile_path, class: "nav-menu-actions__btn nav-menu-actions--primary" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-menu-actions__btn nav-menu-actions--secondary", form_class: "nav-menu-actions__logout-form" %>
        <% else %>
          <a href="#login" onclick="openLoginModal(event)" class="nav-menu-actions__btn nav-menu-actions--secondary">Login</a>
          <a href="#sign-up" onclick="openSignUpModal(event)" class="nav-menu-actions__btn nav-menu-actions--primary nav-menu-close">Get Started</a>
        <% end %>
      </div>
    </div>

    <!-- Actions -->
    <div class="nav-actions">
      <% if user_signed_in? %>
        <%= react_component_with_jss "NavUserContainer", { props: { formAuthenticityToken: form_authenticity_token, userEmail: current_user.try(:email), user: current_user, showDarkMode: show_dark_mode? } } %>
      <% else %>
        <a href="#login" onclick="openLoginModal(event)" class="nav-menu__item nav-menu-login">Login</a>
        <a href="#sign-up" onclick="openSignUpModal(event)" class="nav-menu__item nav-menu--primary">Get Started</a>
      <% end %>
      <% unless hide_currency? %>
        <%= react_component_with_jss "CurrencySelectorWidget", props: { user: current_user, currencies: @exchange_rates }, prerender: false %>
      <% end %>
    </div>

    <% if show_dark_mode? %>
      <div class="nav-dark-mode-toggle">
        <%= react_component_with_jss "DarkModeContainer", props: { user: current_user }, prerender: false %>
      </div>
    <% end %>
  </div>
</nav>
