<section class="section featured-section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-7">
        <h1>Real time, professional trading signals for crypto</h1>
        <p>
          Get alerts of buying and selling opportunities
        </p>

        <ul>
          <li>Reliable - thoroughly tested to help predict price movements</li>
          <li>Instant - know before anyone else does</li>
          <li>Advanced - developed by professional traders and data scientists</li>
        </ul>

        <a class="btn">Reserve My Spot</a>

        <p>Only 2,000 spots available <a href="">Why</a>
      </div>
      <div class="col-sm-5">
        <%= render "pages/signals/telegram_message", {
          title: "Sell signal: Whale moved $68m ETH to an exchange",
          message: "The #3 holder of Ethereum (ETH) moved 319k ETH ($68m) to Binance - 1 minute ago.",
        } %>

        <%= render "pages/signals/telegram_message", {
          title: "Buy signal: Whales of BNB increased their holdings ",
          message: "The top 5 holders of Binance (BNB) increased their holdings from 10% to 12% overall in the last 24 hours.",
        } %>

        <%= render "pages/signals/telegram_message", {
          title: "Buy signal: 5% of Augur supply withdrawn from Binance",
          message: "550,000 REP ($6.7M) USD moved out of Binance wallets in last 24 hours.",
        } %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Signals for the crypto market</h2>
        <p>
          These signals alert you to shifts in the rapidly changing crupto markets so you’ll be the first to know and prepared to act when the market moves.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="signal-example-panels">
          <%= react_component "SignalExamplePanel", props: {
            title: "ETH movement in and out of exchanges",
            buyDescription: "When an abnormally high amount of ETH move out of exchanges and into cold storage wallets, it likely indicates that the holders don’t plan to sell soon. CoinFi monitors exchange wallets.",
            sellDescription: "When an abnormally high amount of BTC/ETH moves into exchanges, it likely indicates that holders are looking to sell.",
          } %>

          <%= react_component "SignalExamplePanel", props: {
            title: "USDT movement into Bitfinex",
            buyDescription: "When there is a high amount of USDT (Tether) moving into Bitfinex, it likely indicates that a pump of BTC or ETH may happen in the near future. CoinFi monitors Bitfinex wallets.",
          } %>

          <%= react_component "SignalExamplePanel", props: {
            title: "Short positions",
            sellDescription: "When there is an increase of short positions being taken against BTC/ETH, it likely indicates that BTC/ETH may dump. CoinFi monitors short positions.",
          } %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6 last-sm">
        <h2>Signals for tokens you care about</h2>
        <p>
          Track every ERC-20 tokens you care about and we’ll alert you when there’s a new buying or selling opportunity.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="signal-example-panels">
          <%= react_component "SignalExamplePanel", props: {
            title: "Coins moving in and out of exchanges",
            buyDescription: "When a high amount of coin moves out of an exchange and into cold storage, it likely indicates that holders are bullish and don’t plan to sell soon. CoinFi monitors exchange wallets.",
            sellDescription: "When a high amount of the coin moves into exchanges, it likely indicates that holders are ready to sell.",
          } %>

          <%= react_component "SignalExamplePanel", props: {
            title: "Whales buying and selling",
            buyDescription: "When whales buy more, it likely indicates that the founders, insiders, and large investors are bullish on the coin. It could also mean that founders and insiders are about to make a big announcement or launch a feature. CoinFi monitors the  whale wallets of every coin.",
            sellDescription: "When whales sell, it likely indicates that the founders, insiders, and large investors aren’t long on the coin.",
          } %>

          <%= react_component "SignalExamplePanel", props: {
            title: "Tokens moving out of exchange wallets",
            sellDescription: "When tokens move out of project wallets, it likely indicates that a lockup period has ended for a founder or employee - increasing the circulating supply. CoinFi identifies and monitors project wallets.",
          } %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Developed by professional traders and data scientists</h2>
        <p>
          We combine the expertise of professional traders and the analytical power of data scientists to deliver signals you can rely on.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="team-members">
          <div class="row">
            <div class="col-xs">
              <%= react_component "SignalTeamMember", props: {
                avatarUrl: "https://placehold.it/300x300",
                description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
              } %>
            </div>
            <div class="col-xs">
              <%= react_component "SignalTeamMember", props: {
                avatarUrl: "https://placehold.it/300x300",
                description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
              } %>
            </div>
            <div class="col-xs">
              <%= react_component "SignalTeamMember", props: {
                avatarUrl: "https://placehold.it/300x300",
                description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
              } %>
            </div>
            <div class="col-xs">
              <%= react_component "SignalTeamMember", props: {
                avatarUrl: "https://placehold.it/300x300",
                description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
              } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6 last-sm">
        <h2>The market doesn’t stand still, neither do our signals</h2>
        <p>
          We constantly optimize our signals, remove ones that no longer work, and develop new signals based on market conditions so you’ll always have an edge in a bear or bull market.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://placehold.it/300x300">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Exclusive to a handful of traders</h2>
        <p>
          We want to give you a trading edge, not everyone. That’s why we’re capping the number of signups to 2,000 initially.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://placehold.it/300x300">
      </div>
    </div>
  </div>
</section>

<section class="section faq-section">
  <div class="container-wide">
    <h2>Faq</h2>

    <div class="signal-faqs">
      <%= react_component "SignalFaqPanel", props: {
        question: "What do I need to do to reserve a spot?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "Do the signals really work?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "If the signals work, why are you selling them?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "How will the signals get delivered?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "How often will I get signals?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "Will you add new signals in the future?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "Do your signals tell me what price to buy at and what price to sell at?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "How should I use the signals?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "Do your signals work in a bear market?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "Do you use these signals yourselves?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
      <%= react_component "SignalFaqPanel", props: {
        question: "How do you come up with these signals?",
        answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente expedita ullam atque quo veritatis adipisci modi, earum, harum dolorem debitis impedit fugit consequuntur repellendus autem. Sapiente eius corrupti voluptate.",
      } %>
    </div>
  </div>
</section>

<section class="section cta-section">
  <div class="container-wide">
    <h2>Ready to trade with professional signals?</h2>
    <p>Reserve one of the 2,000 spots</p>

    <a class="btn">Reserve My Spot</a>
  </div>
</section>
