<section class="signals-section featured-signals-section signals-section--dark">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-7 signals-section__col">
        <div class="signals-section-content featured-signals-section-content">
          <h1 class="signals-section__title featured-signals-section__title">
            Professional trading signals backed by data science
            <div class="signal-beta-badge">Beta</div>
          </h1>

          <p class="signals-section__lead">
            Get alerts of buying and selling opportunities
          </p>
          <ul class="signal-highlight-list">
            <li class="signal-highlight-item">
              <span class="signal-highlight-item__label">Reliable</span>
              <span class="signal-highlight-item__separator">-</span>
              <span class="signal-highlight-item__description">thoroughly tested to help predict price movements</span>
            </li>
            <li class="signal-highlight-item">
              <span class="signal-highlight-item__label">Instant</span>
              <span class="signal-highlight-item__separator">-</span>
              <span class="signal-highlight-item__description">know before anyone else does</span>
            </li>
            <li class="signal-highlight-item">
              <span class="signal-highlight-item__label">Advanced</span>
              <span class="signal-highlight-item__separator">-</span>
              <span class="signal-highlight-item__description">developed by professional traders and data scientists using blockchain data</span>
            </li>
          </ul>

          <a class="btn btn-blue signals-section__cta-btn">Reserve My Spot</a>

          <div class="signals-section__cta-btn-note">
            Only 2,000 spots available
            <%= react_component_with_jss "SignalPopoverText",
              props: {
                text: "Why?",
                description: "To give our members a bigger trading edge, we’re capping the number of sign ups for the beta. Spots are first come first serve.",
              },
              html_options: {
                class: 'signal-popover-text'
              },
              prerender: true
            %>
          </div>
        </div>
      </div>
      <div class="col-sm-5 signals-section__col">
        <div class="signals-section-content featured-signals-section-content signals-section-content--xs-last">
          <%= render "pages/signals/telegram_message", {
            title: "Sell signal: Whale moved $68m ETH to an exchange",
            message_html: "The #3 holder of Ethereum (ETH) <img class=\"signal-coin-icon\" src=\"#{image_path('signals/eth.png')}\" /> moved 319k ETH ($68m) to Binance - 1 minute ago.",
          } %>

          <%= render "pages/signals/telegram_message", {
            title: "Buy signal: Whales of BNB increased their holdings ",
            message_html: "The top 5 holders of Binance (BNB) <img class=\"signal-coin-icon\" src=\"#{image_path('signals/bnb.png')}\" /> increased their holdings from 10% to 12% overall in the last 24 hours.",
          } %>

          <%= render "pages/signals/telegram_message", {
            title: "Buy signal: 5% of Augur supply withdrawn from Binance",
            message_html: "550,000 REP <img class=\"signal-coin-icon\" src=\"#{image_path('signals/rep.png')}\" /> ($6.7M) USD moved out of Binance wallets in last 24 hours.",
          } %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signals-section">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content">
          <h2 class="signals-section__title">Signals for the crypto market</h2>
          <div class="signals-section-description">
            <p class="signals-section-description__paragraph signals-section-description__paragraph--last">
              These signals alert you to shifts in the rapidly changing crupto markets so you’ll be the first to know and prepared to act when the market moves.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content signals-section-content--xs-last">
          <div class="signal-example-panels">
            <%= react_component_with_jss "SignalExamplePanel",
              props: {
                title: "ETH movement in and out of exchanges",
                buyDescription: "When an abnormally high amount of ETH move out of exchanges and into cold storage wallets, it likely indicates that the holders don’t plan to sell soon. CoinFi monitors exchange wallets.",
                sellDescription: "When an abnormally high amount of BTC/ETH moves into exchanges, it likely indicates that holders are looking to sell.",
              },
              html_options: {
                class: 'signal-example-panels__item'
              },
              prerender: true
            %>

            <%= react_component_with_jss "SignalExamplePanel",
              props: {
                title: "USDT movement into Bitfinex",
                buyDescription: "When there is a high amount of USDT (Tether) moving into Bitfinex, it likely indicates that a pump of BTC or ETH may happen in the near future. CoinFi monitors Bitfinex wallets.",
              },
              html_options: {
                class: 'signal-example-panels__item'
              },
              prerender: true
            %>

            <%= react_component_with_jss "SignalExamplePanel",
              props: {
                title: "Short positions",
                sellDescription: "When there is an increase of short positions being taken against BTC/ETH, it likely indicates that BTC/ETH may dump. CoinFi monitors short positions.",
              },
              html_options: {
                class: 'signal-example-panels__item'
              },
              prerender: true
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signals-section">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-6 last-sm signals-section__col">
        <div class="signals-section-content">
          <h2 class="signals-section__title">Signals for tokens you care about</h2>
          <div class="signals-section-description">
            <p class="signals-section-description__paragraph signals-section-description__paragraph--last">
              Track every ERC-20 tokens you care about and we’ll alert you when there’s a new buying or selling opportunity.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content signals-section-content--xs-last">
          <div class="signal-example-panels">
            <%= react_component_with_jss "SignalExamplePanel",
              props: {
                title: "Coins moving in and out of exchanges",
                buyDescription: "When a high amount of coin moves out of an exchange and into cold storage, it likely indicates that holders are bullish and don’t plan to sell soon. CoinFi monitors exchange wallets.",
                sellDescription: "When a high amount of the coin moves into exchanges, it likely indicates that holders are ready to sell.",
              },
              html_options: {
                class: 'signal-example-panels__item'
              },
              prerender: true
            %>

            <%= react_component_with_jss "SignalExamplePanel",
              props: {
                title: "Whales buying and selling",
                buyDescription: "When whales buy more, it likely indicates that the founders, insiders, and large investors are bullish on the coin. It could also mean that founders and insiders are about to make a big announcement or launch a feature. CoinFi monitors the  whale wallets of every coin.",
                sellDescription: "When whales sell, it likely indicates that the founders, insiders, and large investors aren’t long on the coin.",
              },
              html_options: {
                class: 'signal-example-panels__item'
              },
              prerender: true
            %>

            <%= react_component_with_jss "SignalExamplePanel",
              props: {
                title: "Tokens moving out of exchange wallets",
                sellDescription: "When tokens move out of project wallets, it likely indicates that a lockup period has ended for a founder or employee - increasing the circulating supply. CoinFi identifies and monitors project wallets.",
              },
              html_options: {
                class: 'signal-example-panels__item'
              },
              prerender: true
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signals-section">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content">
          <h2 class="signals-section__title">Next-generation of trading signals using blockchain data</h2>
          <div class="signals-section-description">
            <p class="signals-section-description__paragraph">
              CoinFi systems monitor on-chain and proprietary off-chain data in real time to deliver market intelligence not possible before.
            </p>
            <p class="signals-section-description__paragraph signals-section-description__paragraph--last">
              Learn <a href="https://www.coinfi.com/landing/blockchain-data">how CoinFi uses blockchain</a> data and see <a href="https://cloud.google.com/blog/products/data-analytics/ethereum-bigquery-public-dataset-smart-contract-analytics" target="_blank">our partnership</a> with Google Cloud on tracking the Ethereum blockchain.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content signals-section-content--xs-last signals-section-content--center">
          <img class="signal-blockchain-image" src="<%= image_path('signals/blockchain-data.jpg') %>">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signals-section">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-6 last-sm signals-section__col">
        <div class="signals-section-content">
          <h2 class="signals-section__title">Developed by professional traders and data scientists</h2>
          <div class="signals-section-description">
            <p class="signals-section-description__paragraph signals-section-description__paragraph--last">
              We combine the expertise of professional traders and the analytical power of data scientists to deliver signals you can rely on.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content signals-section-content--xs-last">
          <div class="signal-team-members">
            <div class="row">
              <div class="col-xs signals-section__col">
                <%= react_component_with_jss "SignalTeamMember",
                  props: {
                    avatarUrl: image_path('signals/team-members/tim.png'),
                    description: "Timothy Tam has 10+ years  of professional trading experience at Goldman Sachs and hedge funds with $1+ billion in assets.",
                    roleDescription: "Tim is the CEO of CoinFi.",
                  },
                  html_options: {
                    class: "signal-team-members__item",
                  },
                  prerender: true
                %>
              </div>
              <div class="col-xs signals-section__col">
                <%= react_component_with_jss "SignalTeamMember",
                  props: {
                    avatarUrl: image_path('signals/team-members/jonney.png'),
                    description: "Jonney Liu is a former senior portfolio manager with 11+ years experience trading derivatives at institutions such as Lehman Brothers, Macquarie; most recently, he was at a $350 million volatility arbitrage hedge fund from True Capital.",
                    roleDescription: "Jonney is the Head of Crypto Research at CoinFi.",
                  },
                  html_options: {
                    class: "signal-team-members__item",
                  },
                  prerender: true
                %>
              </div>
              <div class="col-xs signals-section__col">
                <%= react_component_with_jss "SignalTeamMember",
                  props: {
                    avatarUrl: image_path('signals/team-members/alex.png'),
                    description: "Alex Svanevik has 8+ years experience from data science, management consulting, and startups in Schibsted Media Group, BearingPoint, and Codeus. He holds an MSc in Artificial Intelligence from the University of Edinburgh.",
                    roleDescription: "Alex is the Chief Data Scientist at Coinfi.",
                  },
                  html_options: {
                    class: "signal-team-members__item",
                  },
                  prerender: true
                %>
              </div>
              <div class="col-xs signals-section__col">
                <%= react_component_with_jss "SignalTeamMember",
                  props: {
                    avatarUrl: image_path('signals/team-members/kwa.png'),
                    description: "Kwa Jie Hao has a B.A. in Economics from Brown University and a M.S. in Data Science from the Barcelona Graduate School of Economics and previously interned at Telefonica Research.",
                    roleDescription: "Kwa is a data scientist at CoinFi.",
                  },
                  html_options: {
                    class: "signal-team-members__item",
                  },
                  prerender: true
                %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="signals-section">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content">
          <h2 class="signals-section__title">The market doesn’t stand still, neither do our signals</h2>
          <div class="signals-section-description">
            <p class="signals-section-description__paragraph signals-section-description__paragraph--last">
              We constantly optimize our signals, remove ones that no longer work, and develop new signals based on market conditions so you’ll always have an edge in a bear or bull market.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content signals-section-content--xs-last signals-section-content--center">
          <img class="signal-market-image" src="<%= image_path('signals/market-doesnt-stand-still.jpg') %>">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signals-section">
  <div class="bs-container bs-container--default">
    <div class="row widest-gutter">
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content">
          <h2 class="signals-section__title">Exclusive to a handful of traders</h2>
          <div class="signals-section-description">
            <p class="signals-section-description__paragraph signals-section-description__paragraph--last">
              We want to give you a trading edge, not everyone. That’s why we’re capping the number of signups to 2,000 initially.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 signals-section__col">
        <div class="signals-section-content signals-section-content--xs-last signals-section-content--center">
          <img class="signal-exclusive-image" src="<%= image_path('signals/exclusive.png') %>">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signals-section faq-signals-section">
  <div class="bs-container bs-container--default">
    <div class="signals-section-content signals-section-content--xs-last signals-section-content--center">
      <h2 class="signals-section__title">FAQ</h2>

      <div class="signal-faqs">
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "What do I need to do to reserve a beta spot?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph">
                To reserve one of the 2,000 beta spots available, we’re asking you to stake 20,000 COFI tokens for at least 3 months or until the beta ends, whichever come first.
              </p>
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                At the end of 3 months or the beta, you can choose to withdraw your tokens and cancel the service.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "What signals will I receive during the beta?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Signals will be released one by one during the beta as they complete testing. All of the signals mentioned on this page must pass thorough testing before we release them. We may also release signals that have not been mentioned on this page.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "How does pricing work after the beta?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                We’re currently evaluating different payment options for the official product launch. Once the beta ends, you’ll get an opportunity to either withdraw your COFI tokens or choose to continue the service on a new pricing package.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "Do the signals really work?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                It’s important to understand that no signal will work 100% of the time. However, each signal goes through a rigorous backtesting process using historical data. We test many signals and only release the ones that have shown to have a positive correlation to price movements. In addition, we constantly optimize each signal based on ever changing market conditions.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "If the signals work, why are you selling them?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph">
                CoinFi’s mission is to give you trading edges that professional traders have.
              </p>
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Our employees are paid in COFI tokens which means they are incentivized to help our members succeed in having trading edges. Due to our token model, releasing signals that work will likely increase the value of COFI tokens. In addition, we deploy the revenue we generate from the service to fund our operations so we can continue to build professional tools and signals for main street crypto investors.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "How will the signals get delivered?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Signals will be delivered in real-time through a private, one on one telegram chat. In the future, we plan to support email notifications and dashboard access.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "How will you prevent members from sharing your signals?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph">
                Every signal will have a unique signature traceable to the member we sent it to.
              </p>
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Members who get caught sharing signals will receive a lifetime ban from the service and get their COFI tokens confiscated. The confiscated tokens will get distributed to members who have staked for access.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "How often will I get signals?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                We’ll alert you instantly when we detect a buying or selling opportunity. These opportunities usually come around every 1-2 days.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "Will you add new signals in the future?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Yes, our team of professional traders and data scientists work around the clock to come up with new signals.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "Do your signals tell me what price to buy at and what price to sell at?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                No. As professional traders, we don’t believe that anyone can accurately predict the exact best price to buy at or sell at. Anyone or any Telegram group that attempt to tell you that aren’t likely to be doing you any favors.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "How should I use the signals?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                CoinFi Pro Signals give you unique trading signals that other traders simply don’t have. You should combine our trading signals with your own analysis and feel for the market to ultimately make a decision on buying and selling.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "Will your signals work in a bear market?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Yes, we backtest our signals in bear markets and bull markets. In addition, our team of data scientists are constantly monitoring the effectiveness of these signals. If we find that a signal no longer works, we’ll either optimize it again to the current market conditions or remove it.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "Do you use these signals yourselves?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Yes, our entire team, including the professional traders, use these signals to help them decide what and when to buy and sell.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
        <%= react_component_with_jss "SignalFaqPanel",
          props: {
            question: "How do you come up with these signals?",
            answerHtml: <<~HTML
              <p class="signal-faqs-item__paragraph signal-faqs-item__paragraph--last">
                Our team of professional traders start by asking themselves what trading signals they wish they have. Next, our team of data engineers gather the data such as getting a real time feed of all transactions that happen on the Ethereum blockchain. Finally, our team of data scientists backtest the signals for correlation with price movements. Only when we find a positive correlation with price movements do we release the signals to our members.
              </p>
            HTML
          },
          html_options: {
            class: "signal-faqs-item",
          },
          prerender: true
        %>
      </div>
    </div>
  </div>
</section>

<section class="signals-section cta-signals-section">
  <div class="bs-container bs-container--default">
    <div class="signals-section-content signals-section-content--xs-last signals-section-content--center">
      <h2 class="signals-section__title cta-signals-section__title">Ready to trade with professional signals?</h2>
      <p class="signals-section__lead cta-signals-section__lead">Reserve one of the 2,000 spots</p>

      <a class="btn btn-blue signals-section__cta-btn">Reserve My Spot</a>
    </div>
  </div>
</section>
