<%= render partial: "hero" %>

<!-- Main container -->
<main class="main-content">
  <%= render partial: "counter" %>

  <%= render partial: "press" %>

  <% # render partial: "intro" %>

  <% # render partial: "overview" %>

  <%= render partial: "ecosystem" %>

  <%= render partial: "journey" %>

  <%= render partial: "team" %>

  <%= render partial: "timeline" %>

  <%= render partial: "token" %>

  <%= render partial: "roadmap" %>

  <%= render partial: "platform" %>

  <%= render partial: "contact" %>
</main>
<!-- END Main container -->
