<%= render partial: "hero" %>

<!-- Main container -->
<main class="main-content">
  <%= render partial: "intro" %>

  <%= render partial: "overview" %>

  <% # render partial: "opportunity" %>

  <%= render partial: "platform" %>

  <%= render partial: "team" %>

  <%= render partial: "timeline" %>

  <%= render partial: "token" %>

  <%= render partial: "roadmap" %>

  <%= render partial: "faq" %>

  <%= render partial: "contact" %>
</main>
<!-- END Main container -->
