<table>
  <tr>
    <th></th><th>Sample Value</th><th>Min</th><th>Max</th><th>Signal</th><th>Rule</th>
  </tr>
  <% @indicator_rows.each do |indicator| %>
    <tr>
      <td><%= indicator[:title] %></td>
      <td><%= indicator[:value] %></td>
      <td><%= indicator[:min].presence || 'N/A' %></td>
      <td><%= indicator[:max].presence || 'N/A' %></td>
      <td><%= indicator[:signal] %></td>
      <td><%= indicator[:rule] %></td>
    </tr>
  <% end %>
</table>