<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <%= render 'layouts/tracking_scripts_preconnect' %>
    <link rel="stylesheet" href="/css/gauge.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
    <style>
      /* Main */
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url('https://fonts.googleapis.com/css?family=Open+Sans:300')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 300;
        src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url('https://fonts.googleapis.com/css?family=Open+Sans:300i')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url('https://fonts.googleapis.com/css?family=Open+Sans:400')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url('https://fonts.googleapis.com/css?family=Open+Sans:400i')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('https://fonts.googleapis.com/css?family=Open+Sans:600')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url('https://fonts.googleapis.com/css?family=Open+Sans:600i')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url('https://fonts.googleapis.com/css?family=Open+Sans:700')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('https://fonts.googleapis.com/css?family=Open+Sans:700i')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('https://fonts.googleapis.com/css?family=Open+Sans:800')
      }

      @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 800;
        src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url('https://fonts.googleapis.com/css?family=Open+Sans:800i')
      }

      * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        font-family: 'num', 'Open Sans', ariel, sans-serif
      }

      html, body {
        height: 100%;
        width: 100%;
        background-color: #f0f0f0
      }

      textarea, input {
        font-family: 'num', 'Open Sans', ariel, sans-serif
      }

      a {
        text-decoration: none;
        outline: 0;
        color: #0079b9;
      }

      body[orient="portrait"] {
        min-height: 540px
      }

      body[orient="landscape"] {
        min-height: 400px
      }

      body {
        color: #2c2c2c;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
      }

      h2 {
        color: #777;
        font-size: 28px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: 40px;
      }

      h3 {
        color: #777;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
        min-height: 28px;
      }

      /* Custom */
      .main-container {
        margin: 20px auto 40px;
        padding-left: 20px;
        padding-right: 20px;
        min-height: 300px;
        max-width: 1082px;
      }
      .flex-container {
        display: flex;
        flex: 0 0 auto;
        margin: 15px 0;
      }
      .flex-container + h2 {
        margin-top: 30px;
      }
      .half-width-container {
        display: flex;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 10px;
        padding-right: 10px;
      }
      .half-width-container:first-child {
        padding-left: 0;
      }
      .half-width-container:last-child {
        padding-right: 0;
      }
      .paper {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        width: 100%;
        padding: 20px;
      }
      .main-title {
        position: relative;
      }
      .main-title .coinfi-link {
        position: absolute;
        right: 0;
        bottom: -5px;
        font-size: 10px;
      }
      .main-title .coinfi-link__img {
        width: 50px;
        margin-bottom: -2px;
      }
      .indicators-desktop {
        width: 100%;
        border-spacing: 0;
        font-size: 14px;
      }
      .indicators-desktop th {
        padding-bottom: 4px;
        border-bottom: 2px solid #d4d5d8;
        text-align: center;
      }
      .indicators-desktop .indicators__rule {
        width: 200px;
      }
      .odd {
        background-color: #e0e0e0;
      }
      .indicators-desktop th {
        padding: 4px 4px;
      }
      .indicators-desktop td {
        padding: 8px 4px;
        font-weight: 600;
      }
      .indicators-desktop .number {
        text-align: center;
      }
      .indicators-desktop .indicator-signal {
        text-align: right;
      }
      .indicators-mobile {
        display: none;
      }
      .fa-info-circle {
        color: #00a5ee;
      }
      .buy {
        color: #6aac0e;
      }
      .sell {
        color: #ce1d1d;
      }
      .paper .copy-container {
        margin: 20px -20px -20px;
        padding: 20px;
        font-size: 14px;
        border-top: 1px solid #e0e0e0;
        background-color: #f8f8f8;
      }
      .indicator-summary-copy {
        margin-left: 8px;
      }
      .indicators-summary {
        display: flex;
        justify-content: space-between;
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
      }
      .indicators-updated {
        margin-top: 10px;
        text-align: center;
        font-style: italic;
        font-size: 12px;
      }
      .stats__row {
        display: flex;
        justify-content: space-between;
        padding: 2px 2px 4px;
        margin-bottom: 12px;
        border-bottom: 2px solid #d4d5d8;
      }
      .stats__row div:first-child {
        font-weight: 600;
      }
      .news-item {
        padding-top: 10px;
      }
      .news-item:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 15px;
      }
      .news-item__title {
        margin-bottom: 8px;
      }
      .news-item__summary {
        font-size: 15px;
        line-height: 1.3rem;
        text-align: justify;
        margin-bottom: 6px;
      }
      .news-item__footer {
        color: #777777;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
      }
      .news-item::after {
        content: "";
        clear: both;
        display: table;
      }
      a.plain-link {
        color: inherit;
      }

      /* Gauge */
      .gauge-wrapper {
        width: 300px;
        height: 160px;
        margin: 40px auto 20px;
      }
      .gauge:before {
        background-color: #2c2c2c;
      }
      .gauge-value {
        white-space: nowrap;
      }
      .gauge-values .gauge-value:nth-child(1) {
        transform: rotate(-70deg) translate(-5px, -5px);
      }
      .gauge-values .gauge-value:nth-child(2) {
        transform: rotate(-35deg) translate(-4px, -5px);
      }
      .gauge-values .gauge-value:nth-child(3) {
        transform: translate(0px, -5px);
      }
      .gauge-values .gauge-value:nth-child(4) {
        transform: rotate(37deg) translate(4px, -5px);
      }
      .gauge-values .gauge-value:nth-child(5) {
        transform: rotate(70deg) translate(5px, -5px);
      }
      .gauge-arrow {
        filter: invert(17%) sepia(7%) saturate(0%) hue-rotate(261deg) brightness(87%) contrast(93%);
      }

      /* Desktop */
      @media screen and (min-width:1025px) {

      }

      /* Tablet */
      @media screen and (min-width:741px) and (max-width:1024px) {
      }

      /* Mobile */
      @media screen and (max-width:740px) {
        h2 {
          text-align: center;
          font-weight: 600;
          font-size: 20px;
          min-height: 32px;
        }
        .main-container {
          padding: 0;
        }
        .flex-container {
          flex-wrap: wrap;
        }
        .half-width-container {
          display: flex;
          -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          max-width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
        .half-width-container + .half-width-container {
          margin-top: 15px;
        }
        .paper {
          overflow: hidden;
        }
        .main-title {
          padding: 0 4px;
          font-size: 19px;
        }
        .main-title .coinfi-link {
          right: 2px;
          bottom: -10px;
        }
        .stats {
          font-size: 14px;
        }
        .indicators-desktop {
          display: none;
        }
        .indicators-mobile {
          display: block;
          font-size: 12px;
          margin-left: -20px;
          margin-right: -20px;
          margin-top: -8px;
        }
        .indicators-mobile .indicators-mobile__row {
          display: flex;
          justify-content: space-between;
          padding: 10px 20px 14px;
        }
        .indicators-mobile .indicators-mobile__col-values {
          width: 30%;
          text-align: right;
        }
        .indicators-mobile .indicators__title {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        .indicators-mobile .indicators__signal {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        .indicators-mobile .indicators__signal-value {
          font-size: 14px;
        }
        .paper .copy-container {
          text-align: justify;
        }
        .news {
          margin-top: -8px;
        }
        .news-item__title {
          font-size: 15px;
        }
        .news-item__summary {
          display: none;
        }
        .news-item__footer {
          font-size: 12px;
        }
        .news-item__link {
          display: none;
        }
        .gauge-wrapper {
          width: 250px;
          height: 135px;
          margin: 40px auto 20px;
        }
      }
    </style>
  </head>
  <body>
    <div class="main-container">

      <h2 class="main-title">
        <%= t(:technical_analysis_and_price_movements) %>
        <a class="coinfi-link" href="<%= root_url %>">
          Powered by <img src="<%= image_path('logo.svg') %>" class="coinfi-link__img" />
        </a>
      </h2>

      <div class="flex-container">
        <div class="half-width-container">
          <div class="paper">
            <h3><%= t(@coin.slug, scope:'coins') %> <%= t(:stats) %></h3>
            <div class="stats">
              <div class="stats__row">
                <div><%= t(:crypto_rank) %></div>
                <div>
                  <%= link_to @crypo_rank, coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
              <div class="stats__row">
                <div><%= t(:day_move_label, days: 7) %></div>
                <div class="<%= get_buy_sell_class(@coin.change7d) %>">
                  <%= link_to format_percentage(@coin.change7d), coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
              <div class="stats__row">
                <div><%= t(:day_move_label, days: 30) %></div>
                <div class="<%= get_buy_sell_class(@coin.change30d) %>">
                  <%= link_to format_percentage(@coin.change30d), coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
              <div class="stats__row">
                <div><%= t :market_cap_label %></div>
                <div>
                  <%= link_to format_price(@coin.market_cap / 1000000, precision: 2), coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
              <div class="stats__row">
                <div><%= t :volume_24h_label %></div>
                <div>
                  <%= link_to format_price(@coin.volume24h / 1000), coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
              <div class="stats__row">
                <div><%= t :circulating_supply_label %></div>
                <div>
                  <%= link_to @coin.available_supply > 0 ? format_price(@coin.available_supply) : "N/A", coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
              <div class="stats__row">
                <div><%= t :fixed_supply_label %></div>
                <div>
                  <%= link_to @coin.fixed_supply > 0 ? format_price(@coin.fixed_supply) : "N/A", coin_url(@coin.slug), class: 'plain-link' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="half-width-container">
          <div class="paper">
            <h3>
              <%= t(:technical_analysis_summary) %>
              <a class="indicator-summary-copy" data-tippy="<%= t :indicator_summary_copy %>">
                <i class="far fa-info-circle"></i>
              </a>
            </h3>
            <div class="gauge-wrapper">
              <div class="gauge"></div>
            </div>
            <div class="indicators-summary">
              <div>
                <div class="sell"><%= @summary[:sell] %></div>
                <div><%= t(:sell).upcase %></div>
              </div>
              <div>
                <div><%= @summary[:neutral] %></div>
                <div><%= t(:neutral).upcase %></div>
              </div>
              <div>
                <div class="buy"><%= @summary[:buy] %></div>
                <div><%= t(:buy).upcase %></div>
              </div>
            </div>
            <div class="indicators-updated"><%= t(:updated_on_date, date: l(@last_updated, format: :readable_date)) %></div>
          </div>
        </div>
      </div>

      <div class="flex-container">
        <div class="paper">
          <h3><%= t(:technical_indicators) %></h3>
          <table class="indicators-desktop">
            <thead>
              <tr>
                <th></th>
                <th><%= t :sample_value_label %></th>
                <th><%= t :min_label %></th>
                <th><%= t :max_label %></th>
                <th class="indicator-signal"><%= t :signal_label %></th>
              </tr>
            </thead>
            <tbody>
            <% @indicator_rows.each do |indicator| %>
              <tr class="<%= cycle('even', 'odd') %>">
                <td><%= t(indicator[:symbol], scope: 'indicators.title') %></td>
                <td class="number"><%= indicator[:value] %></td>
                <td class="number"><%= indicator[:min].presence || t(:na) %></td>
                <td class="number"><%= indicator[:max].presence || t(:na) %></td>
                <td class="indicator-signal <%= indicator[:signal].downcase %>">
                  <%= indicator[:signal].present? ? t(indicator[:signal].downcase).upcase : "" %>
                  <a data-tippy="<%= simple_format(t(indicator[:symbol], scope: 'indicators.rule')) %>"><i class="far fa-info-circle"></i></a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div class="indicators-mobile">
          <% @indicator_rows.each do |indicator| %>
            <div class="indicators-mobile__row <%= cycle('even', 'odd') %>">
              <div class="indicators-mobile__col-titles">
                <div class="indicators__title"><%= t(indicator[:symbol], scope: 'indicators.title') %></div>
              </div>
              <div class="indicators-mobile__col-values">
                <div class="indicators__signal <%= indicator[:signal].downcase %>">
                  <a data-tippy="<%= simple_format("#{t(indicator[:symbol], scope: 'indicators.rule')}
                    #{t(:min_label)}: #{indicator[:min].presence || t(:na)}
                    #{t(:max_label)}: #{indicator[:max].presence || t(:na)}")
                  %>"><i class="far fa-info-circle"></i></a>
                  <%= indicator[:signal].present? ? t(indicator[:signal].downcase).upcase : "" %>
                </div>
                <div class="indicators__signal-value"><%= indicator[:value] %></div>
              </div>
            </div>
          <% end %>
          </div>
          <div class="copy-container">
            <%= t :technical_indicator_copy %>
          </div>
        </div>
      </div>

      <% unless @news_items.blank? %>
      <h2><%= t(:latest_research) %></h2>
      <div class="flex-container">
        <div class="paper">
          <h3><%= t(:market_news_research) %></h3>
          <div class="news">
            <% @news_items.each do |news_item| %>
            <div class="news-item">
              <h4 class="news-item__title">
                <%= link_to news_item.title, news_item_url(id: news_item.id, slug: news_item.slug) %>
              </h4>
              <div class="news-item__summary">
                <%= news_item.short_summary %>
              </div>
              <div class="news-item__footer">
                <div class="news-item__details">
                  <%= t(:time_ago, time_words: time_ago_in_words(news_item.feed_item_published_at)) %>
                </div>
                <div class="news-item__link">
                  <%= link_to t(:read_more), news_item_url(id: news_item.id, slug: news_item.slug) %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script src="/js/gauge.js"></script>
    <script type="text/javascript">
      var options = {
        angle: [180, 360],
        values: {
          10: '<%= t(:strong_sell).titleize %>',
          30: '',
          50: '<%= t(:neutral).titleize %>',
          70: '',
          90: '<%= t(:strong_buy).titleize %>'
        },
        colors: {
          0: '#ce1d1d',
          20: '#de6160',
          40: '#d4d5d8',
          60: '#9ac854',
          80: '#6aac0e'
        },
        marks: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        value: <%= @summary_value %>
      };
      var gauge = new Gauge(document.querySelector(".gauge"), options);
    </script>

    <%= render 'layouts/tracking_scripts' %>
    <% if Rails.env.production? %>
    <% end %>
  </body>
</html>