<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= display_meta_tags site: "CoinFi", reverse: true %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <% if @jss_server_side_css %>
      <style id="jss-server-side">
        <%= @jss_server_side_css %>
      </style>
    <% end %>
  </head>
  <body id="<%= @body_id %>" class="<%= @body_class %>">
    <header>
      <%= render partial: "components/nav" %>
    </header>
    <main>
      <%= render partial: "components/flash" %>
      <%= yield %>
    </main>
    <script src="/tradingview/charting_library.min.js"></script>
    <%= javascript_pack_tag 'vendor-bundle' %>
    <%= javascript_pack_tag 'app-bundle' %>
    <%= render 'layouts/tracking_scripts' %>
  </body>
</html>
