<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= display_meta_tags site: "CoinFi", reverse: true %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= canonical_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body id='<%= @body_id %>'>
    <%= render partial: "components/site_header" %>
    <main>
      <%= render partial: "components/flash" %>
      <%= yield %>
    </main>
    <%= render partial: 'components/mobile_nav' %>
    <%= javascript_tag do %>
      window.pricesURL = '<%= ENV.fetch('COINFI_PRICES_URL') %>';
    <% end %>
    <script src="/tradingview/charting_library.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= render 'layouts/tracking_scripts' %>
    <script src="https://modeanalytics.com/embed/embed.js"></script>
    <script src="/fontawesome/fa-brands.min.js"></script>
    <script src="/fontawesome/fa-light.min.js"></script>
    <script src="/fontawesome/fa-regular.min.js"></script>
    <script src="/fontawesome/fa-solid.min.js"></script>
    <script src="/fontawesome/fontawesome.min.js"></script>
    <script src='https://cdn.jsdelivr.net/gh/fcmam5/nightly.js@v1.0/dist/nightly.min.js'></script>

  </body>
</html>
