<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= display_meta_tags site: "CoinFi", reverse: true %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= canonical_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-eAVkiER0fL/ySiqS7dXu8TLpoR8d9KRzIYtG0Tz7pi24qgQIIupp0fn2XA1H90fP" crossorigin="anonymous"></script>
  </head>

  <body id='<%= @body_id %>'>
    <header>
      <%= render partial: "components/nav" %>
    </header>
    <main>
      <%= render partial: "components/flash" %>
      <%= yield %>
    </main>
    <%= javascript_tag do %>
      window.pricesURL = '<%= ENV.fetch('COINFI_PRICES_URL') %>';
    <% end %>
    <script src="/tradingview/charting_library.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= render 'layouts/tracking_scripts' %>
    <script src="https://modeanalytics.com/embed/embed.js"></script>
  </body>
</html>
