<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% unless is_production? %><meta name="robots" content="noindex,nofollow"><% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= display_meta_tags site: "CoinFi", reverse: true %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="apple-touch-icon-precomposed" href="<%= image_path('apple-touch-icon-precomposed.png') %>">
    <link rel="icon" href="<%= image_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application' %>

    <%# This should really be included but currently conflicts with a lot of our the css styles %>
    <%#= stylesheet_pack_tag 'vendor-bundle', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>
  <body id="<%= @body_id %>" class="<%= @body_class %>">
    <header>
      <%= render partial: "components/nav" %>
    </header>
    <main>
      <%= render partial: "components/flash" %>
      <%= yield %>

      <%#
      Output each of the sheet styles as separate `style` tags. Note that is must always be included
      after any component renders in order to ensure `@jss_server_side_css` is correctly populated
      %>
      <% if @jss_server_side_css %>
        <% @jss_server_side_css.each do |styles_namespace, sheet_css| %>
          <style data-jss-server-side data-meta="<%= styles_namespace %>">
            <%= sheet_css %>
          </style>
        <% end %>
      <% end %>
    </main>
    <% unless hide_footer? %>
      <footer>
        <%= render partial: "components/footer" %>
      </footer>
    <% end %>
    <% unless user_signed_in? %>
      <%= render partial: "components/login_modal" %>
      <%= render partial: "components/sign_up_modal" %>
      <%= render partial: 'layouts/modal_script' %>
    <% end %>
    <script src="/tradingview/charting_library.min.js"></script>
    <%= javascript_pack_tag 'vendor-bundle' %>
    <%= javascript_pack_tag 'app-bundle' %>
    <%= render 'layouts/tracking_scripts' %>
  </body>
</html>
