<!DOCTYPE html>
<html lang="en">

  <head>
    <title>CoinFi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="CoinFi">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_path('favicon.png') %>">
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= render partial: "components/site_header" %>
    <%= render partial: "components/flash" %>
    <main>
      <%= yield %>
    </main>
    <%= render partial: "components/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= render partial: "components/tracking_scripts" %>
  </body>

</html>
